{{#section 'title'}}
	<title>{{articleData.title}} | Slow_soul的博客</title>
{{/section}}
{{#section 'head'}}
	<link rel="stylesheet" href="/css/inc_style.css">
	<link rel="stylesheet" href="/css/article.css">
{{/section}}
<!-- 文章内容 -->
<div id="main">
	<article class="article">
		<div class="meta">
			<div>
				<span class="date">{{articleData.date}}</span>
			</div>
			<div class="comment">
				<a href="#comments" class="toAddComment">{{articleData.comments.length}}个评论</a>
			</div>
		</div>
		<h1 class="title"><a href="/article/{{articleData._id}}">{{articleData.title}}</a></h1>
		<div class="article-tag"> 
			<h4><small>分类 : </small> <a href="/classification/{{articleData.tag}}"><span class="label label-success">{{articleData.tag}}</span></a></h4>
			<h4><small>标签 : </small>
	        {{#each articleData.labels}}
	        	<a href="/classification/{{../articleData.tag}}/{{this}}"><span class="label label-primary">{{this}}</span></a>
	        {{/each}}
			</h4>
		</div>
		<div class="article-content">
			{{{articleData.content}}}
		</div>
	</article>
	<!-- 评论 -->
	<div id="comments" class="container-fluid">
		<h3>Comments <a href="javascript:;" class="toAddComment" style="font-size:80%;float:right">写留言</a></h3>
		<ul class="media-list">
		{{#each commentsData}}
			{{#if this.rid}}
			  <li class="media">
			    <div class="media-body">
			    	<span class="media-heading" data-context={{this.context}} data-name={{this.name}} data-id={{this.id}}><strong>{{this.name}} 回复 {{this.rname}}: <a href="javascript:;" style="font-size:90%;float:right" class="reply-btn">回复</a></strong></span>
			    	<h5>{{this.context}}</h5>
					<div class="media">
						<div class="media-left"></div>
						<div class="media-body">
						  <span class="media-heading"><strong>{{this.rname}}:</strong></span>
						  <h5>{{this.rcontext}}</h5>		    
						</div>
					</div>
			    </div>
			  </li>
		  	{{else}}
			  <li class="media">
			    <div class="media-body">
			    	<span class="media-heading" data-context={{this.context}} data-name={{this.name}} data-id={{this.id}}><strong>{{this.name}} 说: <a href="javascript:;" style="font-size:90%;float:right" class="reply-btn">回复</a></strong></span>
			    	<h5>{{this.context}}</h5>
			    </div>
			  </li>
		  {{/if}}
		{{/each}}
		</ul>	
	</div>
	<div id="message-result" class="alert alert-dismissable" style="display:none">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		<strong><h5 id="message-result-context">sdadweqe</h5></strong>
	</div>
	<div id="addComment" class="container-fluid">
		<h3>我要发表看法:</h3>
		<div class="replyComment" style="display:none">
			<h5><strong class="tishi" style="color:red"></strong>  <a href="javascript:;" class="cansle-reply">取消回复</a></h5>
		</div>
		<textarea name="comment" id="comment-context" class="form-control" rows="5" placeholder="在这里填写留言内容" required="required"></textarea>
		<h4>你的昵称:</h4>
		<input type="text" name="name" class="userName form-control">
		<h5><a data-toggle="collapse" href="#more-Mes" aria-expanded="false" aria-controls="more-Mes">更多..</a></h5>
		<div class="collapse" id="more-Mes">
		  <div class="well">
		  		<h5><strong>Hi！欢迎你访问我的博客。你可以把你的资料填的更详细些，让我们能够更好的了解彼此:</strong></h5>
		  		<blockquote><h5>以下内容不会被公开</h5></blockquote>
	          <div class="form-group">
	            <label for="recipient-name" class="control-label">你的姓名:</label>
	            <input type="text" name="trueName" class="form-control trueName" id="recipient-name">
	          </div>
	          <div class="form-group">
	            <label for="recipient-name" class="control-label">你的邮箱:</label>
	            <input type="text" name="email" class="form-control email">
	          </div>
	          <div class="form-group">
	            <label for="message-text" class="control-label">你的网站:</label>
	           	<input type="text" name="personalWeb" class="form-control personalWeb">
	          </div>
		  </div>
		</div>	
		<button class="btn btn-primary add-comment">确认发表</button>
	</div>
</div>
{{#section 'js'}}
	<script src="/js/iconfont.js"></script>
	<script src="/js/article.js"></script>
{{/section}}
