{{#section 'title'}}
	<title>博客后台</title>
{{/section}}
{{#section 'head'}}
<link rel="stylesheet" href="/css/manageArticles.css">
<link rel="stylesheet" href="/css/chajian/prism.css">
<link rel="stylesheet" href="/css/chajian/markdown.css">
{{/section}}
<div id="menu-list" class="col-md-6">
	<div class="bs-example">
	    <ul class="nav nav-pills" role="tablist">
	      <li role="presentation" class="sortByTime"><a href="#">按时间排序</a></li>
	      <li role="presentation" class="sortByComments"><a href="#">按评论数排序</a></li>
	      <li role="presentation" class="dropdown">
	        <a id="drop5" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
	          按分类筛选
	          <span class="caret"></span>
	        </a>
	        <ul id="menu2" class="dropdown-menu" aria-labelledby="drop5">
	        {{#each tagArr}}
	          	<li><a href="#" class="filter">{{this}}</a></li>
	        {{/each}}
	        </ul>
	      </li>
	    </ul>
	  </div>
	<div class="article-list">
		<ol class="timeSort-articles">
		{{#each articles}}
			<li><a name={{this._id}} href="#" class="article-title">{{this.title}}</a><cite title="Source Title">{{this.date}} {{this.tag}} {{this.comments}}评论</cite></li>
		{{/each}}
		</ol>
	</div>
</div>
<div id="main" class="article-read col-md-6">
	<div class="operate">
		<ul>
			<li class="operate-list">
				<button class="btn operate-btn edit-article" data-toggle="tooltip" data-placement="bottom" title="修改文章">
					<svg class="icon" aria-hidden="true" data-toggle="tooltip">
					  <use xlink:href="#icon-xiugai"></use>
					</svg>	
				</button>
				<button class="btn operate-btn" data-toggle="tooltip" data-placement="bottom" title="重新放回草稿箱">
					<svg class="icon" aria-hidden="true" aria-hidden="true">
					  <use xlink:href="#icon-cunrucaogaoxiang"></use>
					</svg>	
				</button>
				<button class="btn operate-btn"  data-toggle="modal"  data-target=".alert-modal" title="删除文章">	
					<svg class="icon" aria-hidden="true" aria-hidden="true">
					  <use xlink:href="#icon-shanchu"></use>
					</svg>
				</button>			
			</li>
		</ul>
	</div>
	<div id="article-context"></div>
</div>

<!--提示拟态框-->
<div class="modal fade alert-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content" style="min-width: 100px !important">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">删除文章</h4>
            </div>
            <div class="modal-body">
                <p>确定要删除该文章吗？</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="delete-article">确定</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>

<!-- js模板引擎 -->
<script type="text/template" id="tpl"> 
	<article class="article">
		<div class="meta">
			<div>
				<span class="date">${date}</span>
			</div>
			<div class="comment">
				<a href="#">${comments}个评论</a>
			</div>
		</div>
		<h1 class="title"><a href="#">${title}</a></h1>
		<div class="article-tag">
			<h4><small>分类 : </small><span class="label label-success">${tag}</span></h4>
			<h4><small>标签 : </small>
				{@each labels as it}
					<span class="label label-primary">${it}</span> 
				{@/each}
			</h4>
		</div>
		<div class="article-content">
			$${content}
		</div>
	</article>	
</script>

<script type="text/template" id="sort">
	<ol class="timeSort-articles">
	{@each articles as it}
		<li><a name=${it._id} href="#" class="article-title">${it.title}</a><cite title="Source Title">${it.date} ${it.tag} ${it.comments}评论</cite></li>
	{@/each}
	</ol>	
</script>
{{#section 'js'}}
<script src="http://cdn.bootcss.com/juicer/0.6.14/juicer-min.js"></script>
<script src="/js/houtai-iconfont.js"></script>
<script src="/js/chajian/marked.js"></script>
<script src="/js/chajian/prism.js"></script>
<script src="/js/manageArticles.js"></script>
{{/section}}
</body>
</html>